*{
    padding: 0;
    margin: 0;
}.heading{
    border: 1px solid black;
    text-align: center;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}
/* .sidebar{
    border: 1px solid black;
    width: 200px;
    height: 600px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 20px;
} */
.sidebar {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;
  background-color: #e9e9e9;
}

.sidemenu {
  background: black;
  color: white;
  padding: 20px;
  font-size: 18px;
}
.container{
    padding: 20px;
    display: grid;
    gap: 10px;
}
.row{
    display: grid;
    gap: 8px;
}
.row-4{
    grid-template-columns: repeat(4,1fr);
    border-radius: 8px;
    background-color: lightgray;
    display: grid;
    gap: 10px;
    height: 60px;
}
.row-4 .box{
    border-left: 5px solid blue;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
}
