*{background-color: black;} 
.naver{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}#b1{
    width: 120px;
    height: 50px;
    background-color: antiquewhite;
}
.num{
    color: antiquewhite;
}
.topic{
    display: flex;
    color: antiquewhite;-
    
    position: relative;
     
}