.gridcontainer{
    border: 1px solid black;
    height :90vh;
    display: grid;
    /* grid-template-columns: 100px 200px 300px 400px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 200px repeat(4,200px); */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 100px;
}
.item{
    border: 1px solid black;
    background-color: lime;
}