
h1{
    background-color: red;
}
#table{
    background-color: green;   
}
.b{
    background-color: brown;
}   
div p {
    color: red ;
}                
div > p {
    color: blue ;
}         
button{
    font-size: 20px;
    background-color: yellow;
}
linth-child(){
    
}